.button-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  width: 5rem;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.6);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.overlay > Button {
  pointer-events: all;
}

.scanner {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgba(52, 182, 233, 0.63);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000000;
}

.bottom-menu {
  position: absolute;
  height: 1rem;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  display: flex;
  align-items: center;
}
